node_modules
scripts
icons
public/icons
.vscode
build
dist
.idea
*.iml
*.log


# Mac OS X
.DS_Store
public/.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Desktop.ini
$RECYCLE.BIN/
$Recycle.Bin/
System Volume Information/
.~lock.*/

# Linux
.Trash-*
.Trash/*
.nfs*

